header
{
    background-color:dodgerblue;
    background-image: url("file:///Users/francescacoppolino/Desktop/Boolean/html-css-booleaner/img/pattern.png");
    background-repeat: repeat-x;
}

#logo
{
    height: 100px;
    width: auto;
    margin-top: 80px;
    margin-left: 80px;
}

main{width: 90%;margin:auto;}

#titolo{font-size: 50px;}

#sottotitolo
{
    font-size: 20px;
    margin-top: -40px;
}

#data
{
    font-size: 15px;
    margin-top: -20px;
}

#nospazio1{margin-top: -6px;}

#nospazio2{margin-top: -20px;}

.sottolineato{background-color: yellow;}

ul{margin-left: -20px;}

