header
{
    background-color:dodgerblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
}

#logo
{
    height: 100px;
    width: auto;
    margin-top: 80px;
    margin-left: 80px;
}

main{width: 90%;margin:auto;}

.titolo{font-size: 50px;}

#sottotitolo
{
    font-size: 20px;
    margin-top: -40px;
}

#data
{
    font-size: 15px;
    margin-top: -20px;
}

#nospazio1{margin-top: -6px;}

#nospazio2{margin-top: -20px;}

.sottolineato{background-color: yellow;}

ul{margin-left: -20px;}

table{border-collapse: collapse;}

thead
{
    background-color: lightskyblue;
    text-align: left;
}

.primoscomparto{width: 300px;}

.secondoscomparto{width: 1000px;}

.colorata{background-color: lightblue;}

#titolofooter{color: grey;}

footer{width: 90%;margin:auto;}

#link{color: darkcyan;}