header
{
    background-color:dodgerblue;
    background-image: url("file:///Users/francescacoppolino/Desktop/Boolean/html-css-booleaner/img/pattern.png");
    background-repeat: repeat-x;
}

#logo
{
    height: 100px;
    width: auto;
    margin-top: 80px;
    margin-left: 80px;
}

